{% extends "layout.html" %}
{% block title %}{{nodeid}} - Metadata - {{key}}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
  </style>
  <script type="text/javascript" src="/static/editmetadata.js"></script>
  <script type="text/javascript">
    var nodeid = "{{node.id}}";
    var key = "{{key}}";
    var mval_type = "string";
  </script>
{% endblock %}
{% block content %}
  <p>
    <input type="radio" id="metadata-type-radio-string" name="metadata-type-radio" value="string" checked="checked"></input>
    <label>String</label>
    <input type="radio" id="metadata-type-radio-boolean" name="metadata-type-radio" value="boolean" ></input>
    <label>Boolean</label>
  </p>
  <p>
    <textarea class="metadata-input" id="metadata-input-string" rows="8" cols="40"></textarea>
    <input class="metadata-input" type="checkbox" id="metadata-input-boolean"></input>
  <p>
  <input type="button" value="Enter Metadata" id="enter-metadata-value-button"></input>
{% endblock %}
