{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <h1>Index</h1>

  <input type="text" name="add-node-input" id="add-node-input"></input>
  <input type="button" name="add-node-button" value="Add Node" id="add-node-button"></input>

  <ul>
    {% for node in nodes %}
    <li>
      <a name="{{ node.id }}" href="/node/{{ node.id }}">{{ node.id }}</a> - <span class="remove-node-span" data-node="{{node.id}}">Remove</span>
      <ul>
        {% for child in node.children() %}
        <li><a class="child-link" href="#{{ child.id }}" data-node="{{ child.id }}">{{ child.id }}</a></li>
        {% endfor %}
      </ul>
    </li>
    {% endfor %}
  </ul>

{% endblock %}

