{% extends "layout.html" %}
{% block title %}{{node.id}}{% endblock %}
{% block head %}
  {{ super() }}
  <script type="text/javascript">
    var nodeid = "{{node.id}}";
  </script>
{% endblock %}
{% block content %}
<span class="breadcrumb"><a href="/">Index</a> > Node > {{ node.id }}</span>
<div>
  <ul class="controls">
    <li><span class="rename-node-span" data-node="{{node.id}}">Rename</span></li>
  </ul>

<h1>{{ node.id }}</h1>
</div>
<h2>Links to</h2>

<ul>
{% for node in node.children() %}
  <li><a href="/node/{{ node.id }}">{{ node.id }}</a> - <span class="remove-edge-span" data-node="{{node.id}}">Remove</span></li>
{% endfor %}
</ul>
<p>
    <input type="text" name="to-node" id="to-node-input"></input>
    <input type="button" name="add-edge-button" value="Add Link" id="add-edge-button"></input>
</p>
<h2>Metadata</h2>

{% for key, val in node.metadata.items() %}
<div style="clear: right">
  <ul class="controls">
    <li><span class="edit-metadata-span" data-key="{{key}}">Edit</span></li>
    <li><span class="remove-metadata-span" data-key="{{key}}">Remove</span></li>
  </ul>

  <h3>{{key}}</h3>
  {% if val is string %}
  <div class="markdown">{{val | markdown}}</div>
  {% else %}
  <p>
    {{ val }}
  </p>
  {% endif %}
</div>
{% endfor %}

<p>
  <input type="text" name="metadata-key" id="metadata-key-input"></input>
  <input type="button" name="add-metadata-key-button" value="Add Metadata" id="add-metadata-key-button"></input>
</p>
{% endblock %}
